<%- include('./partials/header') %>
<div class="background">
  <img src="https://images.pexels.com/photos/2161650/pexels-photo-2161650.jpeg?cs=srgb&dl=pexels-david-disponett-2161650.jpg&fm=jpg">
</div>


<%- include('./partials/footer') %>