*{
    margin: 0;
    padding: 0;
}
 .background img{
    max-height: 100%;
    max-width: 100%;
}
/* .shop-background{
    position: relative;
}
.shop-background img{
   max-width: 100%;
   max-height: 100%
} */ 

.gelato,.shop,.cart{
    text-decoration: none;
    color: black;
    font-size: 24px;
    width: 10px;
    font-family: 'Poller One', cursive;
    height: 5px;
}

a:hover{
    color: pink;
}
.login {
    /* display: flex;
    justify-content: right; */
    height: 34px;
    font-family: 'Poller One', cursive;
    text-decoration: none;
    color: black;
  }
  
.login img {
    height: 20px;
  }
  .products{
      display: flex;
      /* background-image: url(https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?cs=srgb&dl=pexels-henry-%26-co-2341290.jpg&fm=jpg);
      background-size: 3000px; */
  }
.products img{
height: 150px;
width: 150px;
}
  /* .product{
      position: absolute;
display: flex; */
  /* } */
/* .product-one,.product-two,.product-three,.product-four,.product-five{
    position: absolute;
    margin: 0;
}
  .product-one img{
height: 70px;
width: 70px;
  } */
  .order{
      color:pink;
      margin-top: 10px;
      margin-bottom: 25px;
      font-size: 50px;
      font-family: 'Poller One', cursive;
  }
.select{
    padding: 150px;
    font-family: 'Poller One', cursive;
    font-size: 30px;
    margin-top: 100px;
    background: url(https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?cs=srgb&dl=pexels-henry-%26-co-2341290.jpg&fm=jpg);
    background-size:cover;
}
.addButton{
    border-radius: 50px;
    font-family: 'Poller One', cursive;
    padding: 10px;
}