<%- include('../partials/header') %>


    <div class="products">
        <div class="product1">
            <img src="/images/IMG_1213.jpg"> <br>
            pistachio <br>
            <button>Add to cart</button>
        </div>
        <div class="product2">
            <img src="/images/IMG_1214.jpg"> <br>
            Strawberry <br>
            <button>Add to cart</button>
        </div>
        <div class="product3">
            <img src="/images/IMG_1215.jpg"> <br>
            Chocolate <br>
            <button>Add to cart</button>
        </div>
        <div class="product4">
            <img src="/images/IMG_1216.jpg"> <br>
            caramel <br>
            <button>Add to cart</button>
        </div>
<div class="product5">
    <img src="/images/IMG_1217.jpg"> <br>
      salted caramel <br>
    <button>Add to cart</button>
</div>
</div> 
    </div>




    <%- include('../partials/footer') %>